body{
    background-color: #17254A;
    height: 100%;
    margin: 0px;
    color: #d2cce4;
}

.Header{
    height: 25px;
    color: rgb(160, 160, 100);
    text-transform: uppercase;
}


#logo{
    width: 80px;
    padding-left: 10px;
}

#header{
    display: flex;
    height: 100px;
    background-color: #3b4a75;
    align-items: center;
    padding: 4px;
}

#header h3{
    text-transform: uppercase;
    padding-left: 30px;
    width: 400px;
}

#stats{
    position:relative;
    height: 100%;
    width: 100%;
}


#graphics{
    position: absolute;
    border: solid 1px;
    padding: 2px;
    width: 500px;
    height: 100%;
}

#graphics #limit{
    font-size: 12px;
    text-transform: uppercase;
}

#histogram{
    display: flex;
    width: 100%;
    height: 60px;
    transform: rotateZ(180deg);
}

#stats-frame{
    position: absolute;
    right:0px;
    bottom:0px;
    border: solid 1px;
    padding: 2px;
}

#tpsFrame, #txsFrame{
    display: flex;
    width: 170px;
    flex-direction: row;
}

#stats label{
    padding: 2px;
    width: 100%;
    font-size: 22px;
}

.Unit{
    text-align: end;
}

#report{
    height: 100%;
    padding: 10px;
    align-items: center;
}




.Row{
    height: 25px;
    color: #F5F071;
    font-size: 12px;
}

.Col{
    width: 200px;
}